@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* Side bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
}

body {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #222629;
  color: #fff;
  flex: 0.15;
  padding: 2.5rem;
}

.about__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.about__header > img {
  object-fit: contain;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  margin-right: 2rem;
}

.personalInfo {
  text-align: right;
  margin-left: 0.3rem;
  font-weight: 300;
}

.personalInfo > h2 {
  font-weight: 600px;
  font-size: 1.5rem;
  margin-bottom: 0.15rem;
}

.personalInfo > p {
  font-weight: 300px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
}

.about__content {
  margin-top: 2.5rem;
  list-style-type: none;
  font-size: 0.85rem;
}

.about__contentBox {
  margin: 2.5rem 0;
}

.about__contentBox > a {
  font-size: 1rem;
  text-align: right;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-weight: 300;
}

.about__content .icon {
  margin-right: 7.4rem;
  font-size: 1rem;
}

.about__contentBox > a:hover {
  cursor: pointer;
  color: #fff;
}

.about__contentBox:hover .icon {
  color: #318ce7;
}

@media screen and (max-width: 960px) {
}

/* Main  */
#present {
  flex: 0.85;
}
